* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.mapboxgl-popup-close-button {
	display: none;
}

ul {
	list-style: none;
}

#map {
	height: 100vh;
	width: 100vw;
}

#legenda {
	position: absolute;
	bottom: 30px;
	right: 30px;
	max-width: 40rem;
	max-height: 10rem;
	padding: 1rem;
	background: rgba(230, 230, 230, 1);
	opacity: 0.5;
	z-index: 2;
	transition: all 0.2s ease-in-out;
}

#legenda:hover {
	opacity: 1;
}

.legenda-item {
	display: flex;
	align-items: center;
}

.legenda-title {
	font-size: 1rem;
}

.legenda-green {
	width: 20px;
	height: 20px;
	background: green;
	margin-right: 1rem;
}
.legenda-yellow {
	width: 20px;
	height: 20px;
	background: yellow;
	margin-right: 1rem;
}
.legenda-orange {
	width: 20px;
	height: 20px;
	background: orange;
	margin-right: 1rem;
}
.legenda-red {
	width: 20px;
	height: 20px;
	background: red;
	margin-right: 1rem;
}
.legenda-standard {
	width: 20px;
	height: 20px;
	background: rgb(63, 177, 206);
	margin-right: 1rem;
}
